@tailwind base;
@tailwind components;
@tailwind utilities;

.clip{
    clip-path: polygon( 100% 48.929%,100% 48.929%,95.734% 47.583%,91.094% 46.256%,86.136% 44.991%,80.916% 43.828%,75.491% 42.81%,69.918% 41.977%,64.254% 41.373%,58.555% 41.039%,52.877% 41.016%,47.278% 41.346%,47.278% 41.346%,40.542% 42.047%,34.695% 42.784%,29.687% 43.543%,25.466% 44.305%,21.982% 45.056%,19.182% 45.777%,17.016% 46.453%,15.433% 47.067%,14.382% 47.603%,13.811% 48.044%,13.811% 48.044%,17.03% 47.578%,20.825% 47.067%,25.053% 46.54%,29.57% 46.027%,34.232% 45.555%,38.895% 45.155%,43.414% 44.854%,47.646% 44.681%,51.447% 44.666%,54.672% 44.836%,54.672% 44.836%,58.178% 45.278%,62.308% 45.979%,66.899% 46.897%,71.79% 47.988%,76.817% 49.21%,81.819% 50.518%,86.632% 51.87%,91.095% 53.222%,95.044% 54.531%,98.317% 55.754%,98.317% 55.754%,95.962% 60.059%,92.92% 65.212%,89.246% 70.905%,84.993% 76.829%,80.217% 82.677%,74.972% 88.141%,69.313% 92.913%,63.294% 96.686%,56.969% 99.151%,50.394% 100%,50.394% 100%,42.246% 98.533%,34.525% 94.683%,27.333% 89.046%,20.771% 82.221%,14.94% 74.806%,9.943% 67.398%,5.88% 60.596%,2.852% 54.997%,.961% 51.2%,.308% 49.801%,.308% 49.801%,.971% 48.414%,2.889% 44.651%,5.957% 39.108%,10.069% 32.38%,15.12% 25.064%,21.003% 17.755%,27.614% 11.05%,34.846% 5.545%,42.595% 1.835%,50.753% .516%,50.753% .516%,57.995% 1.685%,64.911% 4.781%,71.43% 9.387%,77.48% 15.086%,82.991% 21.463%,87.894% 28.1%,92.117% 34.582%,95.589% 40.491%,98.24% 45.413%,100% 48.929% );;
}

@font-face {
    font-family: chand600;
    src: url('./assets/ttf/chandler-mountain-chandler-mountain-semi-bold-600.woff2');
}
@font-face {
    font-family: chand700;
    src: url('./assets/ttf/chandler-mountain-chandler-mountain-bold-700.woff2');
}
@font-face {
    font-family: braked;
    src: url('./assets/ttf/BRAKED-Bold.woff2');
}


@keyframes animateSVG {
    0%{
        transform: translateX(0);
    }
    100%{
        color: #ffde17;
        transform: translateX(-100%);
    }
}


@keyframes page3CardAnimation {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-15px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(25px);
    }
    100%{
        transform: translateY(0);
    }
}


